<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - TMJ</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>    
    <div id="interface">      
      <header id="cabecalho">
        <hgroup>
          <h1>Rafael Rascovit</h1>
        </hgroup>
        <!-- <div class="btn-group" id="menu">
          <button type="button" class="btn btn-lg">Menu</button>
          <button type="button" class="btn btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu">
            <a><%= link_to 'Home', 'welcome', class: "btn", id: "btn-menu" %></a>
            <a><%= link_to 'Portfolio', 'portfolio', class: "btn btn-lg", id: "btn-menu" %></a>
            <a><%= link_to 'About', 'about', class: "btn btn-lg", id: "btn-menu" %></a>
            <a><%= link_to 'Contact', 'contact', class: "btn btn-lg", id: "btn-menu" %></a>
          </div>
        </div> -->
        <nav id="menu">
          <ul>
            <li><a><%= link_to 'Home', 'welcome', class: "btn btn-lg", id: "btn-menu" %></a></li>
            <li><a><%= link_to 'Portfolio', 'portfolio', class: "btn btn-lg", id: "btn-menu" %></a></li>
            <li><a><%= link_to 'About', 'about', class: "btn btn-lg", id: "btn-menu" %></a></li>
            <li><a><%= link_to 'Contact', 'contact', class: "btn btn-lg", id: "btn-menu" %></a></li>
          </ul>
        </nav>            
      </header>
      
      <%= yield %>
      
      <footer id="rodape">
        <p><a href="https://www.facebook.com/rafael.rascovit" target="_blank"><%= image_tag ("facebook-logo.png"), class: "facebook" %></a>  <a href="https://twitter.com/rafaelrascovit" target="_blank"><%= image_tag ("twitter-logo-silhouette.png"), class: "twitter" %></a></p>
        <h6>Copyright&copy; 2019</h6>
      </footer>      
    </div>
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
